#navbar {
  height: 80px;
  width: 100%;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 25px;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;

  &.hidden {
    transform: translateY(-140%);
  }

  &.visible {
    transform: translateY(0);
  }

  @media (max-width: 890px) {
    margin-top: 0;
    top: 0;
  }

  .nav-wrapper {
    background: var(--black);
    width: 1360px; /* Can be max-width if you prefer */
    margin: 0 auto;
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;

    @media (max-width: 1385px) {
      max-width: 1360px;
      margin: 0 20px;
    }

    @media (max-width: 950px) and (min-width: 600px) {
      padding: 0 40px;
    }

    .btn a,
    .menu-btn a {
      color: var(--black);
      font-size: 18px;
      background: var(--secondary);
      padding: 10px 30px;
      border-radius: 10px;
      white-space: nowrap;
      transition: background 0.3s ease-in-out;

      &:hover {
        color: var(--white);
        background: var(--primary);
      }
    }

    @media (max-width: 600px) {
      .btn {
        display: none;
      }
    }

    @media (min-width: 600px) {
      .menu-btn {
        display: none;
      }
    }
  }

  .logo {
    display: flex;
    align-items: center;
    padding: 0;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  ul {
    display: flex;
    list-style: none;
    gap: 50px;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      line-height: 80px;

      a {
        color: var(--white);
        font-size: 18px;

        &:hover {
          color: var(--primary);
        }
      }
    }
  }

  .checkbtn {
    font-size: 22px;
    color: white;
    cursor: pointer;
    display: none;
  }

  #check {
    display: none;
  }

  @media (max-width: 890px) {
    .nav-wrapper {
      width: 100%;
      padding: 5 20px;
      justify-content: space-between;
      margin: 0 10px;
    }

    .logo img {
      width: 150px;
      height: auto;
    }

    .checkbtn {
      display: block;
      margin-right: 0;
    }

    ul {
      position: fixed;
      top: 80px;
      left: -100%;
      width: 90%;
      height: calc(65vh - 80px);
      background: var(--black);
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 35px;
      transition: left 0.5s ease-in-out;
    }

    ul li {
      display: block;
    }

    ul li a {
      font-size: 20px;
      padding: 10px 20px;
    }

    /* Center the menu horizontally when open */
    #check:checked ~ ul {
      left: 5%;
    }
  }

  @media (max-width: 600px) {
    .nav-wrapper {
      padding: 3px 10px;
    }

    .logo img {
      width: 120px;
    }

    .checkbtn {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
    }

    ul li a {
      font-size: 18px;
      padding: 8px 15px;
    }
  }
}
