#nearest-meal {
  margin-bottom: 130px;
  text-align: center;

  @media (max-width: 1280px) {
    margin-bottom: 100px;
  }

  @media (max-width: 768px) {
    margin-bottom: 80px;
  }

  @media (max-width: 480px) {
    margin-bottom: 60px;
  }

  .title {
    color: var(--black);
    font-size: 65px;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin-bottom: 40px;

    span {
      color: var(--primary);
    }

    @media (max-width: 1280px) {
      font-size: 55px;
      margin-bottom: 30px;
    }

    @media (max-width: 768px) {
      font-size: 45px;
      margin-bottom: 20px;
    }

    @media (max-width: 480px) {
      font-size: 36px;
    }
  }

  .description-wrapper {
    max-width: 815px;
    margin: 0 auto;
    margin-bottom: 75px;

    @media (max-width: 1280px) {
      margin-bottom: 50px;
    }

    @media (max-width: 768px) {
      margin-bottom: 40px;
    }

    @media (max-width: 480px) {
      margin-bottom: 30px;
    }

    .description {
      font-size: 18px;
      color: var(--gray);
      font-weight: 400;

      @media (max-width: 1280px) {
        font-size: 16px;
      }

      @media (max-width: 768px) {
        font-size: 15px;
      }

      @media (max-width: 480px) {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }

  .map {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    margin: 0 auto;

    .map-content {
      position: relative;
      width: 100%;
      height: auto;

      @media (max-width: 480px) {
        transform: scale(1.5);
        transform-origin: top center;
        margin-left: -25%;
      }
    }

    img {
      display: block;
      max-width: 100%;
      height: auto;
      @media (max-width: 480px) {
        scale: 1.5;
      }
    }
  }
}
